In [1]:
import pandas as pd

In [ ]:
# df = pd.read_hdf('demo-es-1.h5', key='h5')

In [ ]:
# df.head()

In [5]:
df = pd.read_csv("raw_data.csv")

In [8]:
df.columns

Index(['First_Name', 'Last_Name', 'E-mail', 'Role', 'Gender',
       'Year of Joining', 'Year of Graduation', 'Course/Degree', 'dep',
       'Specialization', 'Mail Unsubscribe Category', 'Skills',
       'Current Designation', 'Current Company', 'Other Work', 'Work Industry',
       'Other Education', 'Auth/Unauth', 'Institute', 'Phone',
       'secondary_email', 'Joined', 'Last Profile Update', 'Last Login Time',
       'Active Account Time', 'Current City', 'Current Country', 'Hometown',
       'Hometown Country', 'Enrollment Number', 'Unique Profile ID',
       'Profile URL', 'Current Residence', 'Current Office',
       'Permanent Residence', 'DoB', 'Marital Status', 'mentee_problem',
       'mentor_topic'],
      dtype='object')

In [9]:
df.drop(['E-mail', 'Role' ,'Year of Joining' ,'Year of Graduation' , 'Mail Unsubscribe Category' , 'Other Work' , 'Other Education' , 'Auth/Unauth',  'Phone' , 'secondary_email', 'Joined', 'Last Profile Update', 'Last Login Time', 'Active Account Time', 'Current City', 'Current Country', 'Hometown',
       'Hometown Country', 'Enrollment Number', 'Profile URL' , 'Current Residence' , 'Permanent Residence', 'DoB', 'Marital Status'  ], axis=1, inplace=True)

In [10]:
df.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Course/Degree', 'dep',
       'Specialization', 'Skills', 'Current Designation', 'Current Company',
       'Work Industry', 'Institute', 'Unique Profile ID', 'Current Office',
       'mentee_problem', 'mentor_topic'],
      dtype='object')

In [16]:
nUser =df[24:74]

In [17]:
nUser.shape

(50, 15)

In [18]:
nUser.tail()

,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic
69,Mohammed Tahir,NaN,NaN,B.Tech(Bachelor of Technology),Engineering / Technology,Computer Science Engineering,"HTML5, C++,Strong Communication Skills,basics ...",Software Engineer,Tcs,NaN,NaN,1812576,NaN,NaN,NaN
70,Pratham Ravindra Muley,NaN,NaN,B.Tech(Bachelor of Technology),Engineering / Technology,Computer Science Engineering,"Basic CSS, C++, HTML, Javascript",Software Engineer,Tcs,NaN,NaN,1812577,NaN,NaN,NaN
71,Prasanna Anil Rindhe,NaN,NaN,B.Tech(Bachelor of Technology),Engineering / Technology,Computer Science Engineering,"Cricket,Gaming, AUTO-CAD,C++ & Python Programm...",Software Engineer,Tcs,NaN,NaN,1812578,NaN,NaN,NaN
72,Govindu Sritejesh,NaN,NaN,NaN,Engineering / Technology,NaN,"Graphic Design,AutoCAD",NaN,NaN,NaN,NaN,1812579,NaN,NaN,NaN
73,Sanket Sinha,NaN,NaN,NaN,Engineering / Technology,NaN,"ANSI C,DSA, Java, HTML, CSS, Python programmin...",NaN,NaN,NaN,NaN,1812580,NaN,NaN,NaN

In [19]:
nUser.to_csv("onlyrawUser.csv")

In [34]:
df1 = pd.read_csv('Standarised_User_data.csv')

In [35]:
df1.head()

,Unnamed: 0,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic
0,24,Pabitrakumar Patra,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"AutoCAD,Analytic Problem Solving, C programmin...",Software Engineer,Tcs,NaN,NaN,1812531,NaN,NaN,NaN
1,25,Anantkrishna Tiwari,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Graphic Design,Python,Graphic Designer,Video E...",Software Engineer,Tcs,NaN,NaN,1812532,NaN,NaN,NaN
2,26,Ujjwal Ojha,NaN,NaN,Bachelor of Science,Science,Mathematics,"Good communication skill, Graphic Design Skill...",Data Analyst,Infosys,NaN,NaN,1812533,NaN,NaN,NaN
3,27,Rohit Bej,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"HTML5, Javascript, AI & ML, CSS3, Node.js, wor...",Software Engineer,Tcs,NaN,NaN,1812534,NaN,NaN,NaN
4,28,Liyana F,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Adobe Photoshop,Basic CSS,Data Coding,Film Edi...",Software Engineer,Tcs,NaN,NaN,1812535,NaN,NaN,NaN

In [36]:
for i in df1['Unique Profile ID']:
    df1["user_type"] = "normal_user"

In [37]:
df1.head()

,Unnamed: 0,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic,user_type
0,24,Pabitrakumar Patra,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"AutoCAD,Analytic Problem Solving, C programmin...",Software Engineer,Tcs,NaN,NaN,1812531,NaN,NaN,NaN,normal_user
1,25,Anantkrishna Tiwari,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Graphic Design,Python,Graphic Designer,Video E...",Software Engineer,Tcs,NaN,NaN,1812532,NaN,NaN,NaN,normal_user
2,26,Ujjwal Ojha,NaN,NaN,Bachelor of Science,Science,Mathematics,"Good communication skill, Graphic Design Skill...",Data Analyst,Infosys,NaN,NaN,1812533,NaN,NaN,NaN,normal_user
3,27,Rohit Bej,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"HTML5, Javascript, AI & ML, CSS3, Node.js, wor...",Software Engineer,Tcs,NaN,NaN,1812534,NaN,NaN,NaN,normal_user
4,28,Liyana F,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Adobe Photoshop,Basic CSS,Data Coding,Film Edi...",Software Engineer,Tcs,NaN,NaN,1812535,NaN,NaN,NaN,normal_user

In [38]:
df1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [39]:
df1.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Course/Degree', 'dep',
       'Specialization', 'Skills', 'Current Designation', 'Current Company',
       'Work Industry', 'Institute', 'Unique Profile ID', 'Current Office',
       'mentee_problem', 'mentor_topic', 'user_type'],
      dtype='object')

In [ ]:
string_cols = [
    "first_name", "last_name", "degree", "department", "specialization",
    "skills", "designation", "company", "industry", "institute",
    "user_type", "topic_text"
]

for col in string_cols:
    if col in df.columns:
        df[col] = df[col].fillna("").astype(str)

In [30]:
df1.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Course/Degree', 'dep',
       'Specialization', 'Skills', 'Current Designation', 'Current Company',
       'Work Industry', 'Institute', 'Unique Profile ID', 'Current Office',
       'mentee_problem', 'mentor_topic', 'user_type'],
      dtype='object')

In [40]:
df1 = df1.rename(columns={
    "First_Name":            "first_name",
    "Last_Name":             "last_name",
    "Course/Degree":         "degree",
    "dep":                   "department",
    "Specialization":        "specialization",
    "Skills":                "skills",
    "Current Designation":   "designation",
    "Current Company":       "company",
    "Work Industry":         "industry",
    "Institute":             "institute",
    "Unique Profile ID":     "uid",
    "mentee_problem":        "mentee_problem",
    "mentor_topic":          "mentor_topic",
    "user_type":             "user_type"
})

In [43]:
df1.head()

,first_name,last_name,Gender,degree,department,specialization,skills,designation,company,industry,institute,uid,Current Office,user_type
0,Pabitrakumar Patra,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"AutoCAD,Analytic Problem Solving, C programmin...",Software Engineer,Tcs,NaN,NaN,1812531,NaN,normal_user
1,Anantkrishna Tiwari,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Graphic Design,Python,Graphic Designer,Video E...",Software Engineer,Tcs,NaN,NaN,1812532,NaN,normal_user
2,Ujjwal Ojha,NaN,NaN,Bachelor of Science,Science,Mathematics,"Good communication skill, Graphic Design Skill...",Data Analyst,Infosys,NaN,NaN,1812533,NaN,normal_user
3,Rohit Bej,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"HTML5, Javascript, AI & ML, CSS3, Node.js, wor...",Software Engineer,Tcs,NaN,NaN,1812534,NaN,normal_user
4,Liyana F,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Adobe Photoshop,Basic CSS,Data Coding,Film Edi...",Software Engineer,Tcs,NaN,NaN,1812535,NaN,normal_user

In [42]:
df1.drop(['mentee_problem' , 'mentor_topic'], axis=1, inplace=True)

In [44]:
df1.columns

Index(['first_name', 'last_name', 'Gender', 'degree', 'department',
       'specialization', 'skills', 'designation', 'company', 'industry',
       'institute', 'uid', 'Current Office', 'user_type'],
      dtype='object')

In [46]:
# ─── 0) Install dependencies (if not already done) ─────────────────────────────
# In your notebook or terminal:
# !pip install -q pandas sentence-transformers elasticsearch

import pandas as pd
from sentence_transformers import SentenceTransformer
from elasticsearch import Elasticsearch, helpers

# ─── 1) LOAD YOUR NORMAL_USER DATAFRAME ────────────────────────────────────────
# Replace this with the path to your CSV/Excel/whatever. For example:
# df_normal = pd.read_csv("normal_users.csv")

# For demonstration, here’s a toy DataFrame with the required columns:

df_normal = df1

# 1a) Ensure all required columns exist
required_cols = [
    "uid", "first_name", "last_name", "degree", "department", "specialization",
    "skills", "designation", "industry", "institute", "company", "user_type"
]
missing = [c for c in required_cols if c not in df_normal.columns]
if missing:
    raise ValueError(f"Missing columns in normal_user DataFrame: {missing}")

# 1b) Replace any NaN in string fields with empty string
for col in required_cols:
    df_normal[col] = df_normal[col].fillna("").astype(str)

# ─── 2) CREATE TEXT BLOBS FOR EMBEDDING ────────────────────────────────────────
df_normal["academic_text"]     = (
    df_normal["degree"] + " "
    + df_normal["department"] + " "
    + df_normal["specialization"]
)

df_normal["professional_text"] = (
    df_normal["skills"] + " "
    + df_normal["designation"] + " "
    + df_normal["industry"]
)

# For normal_user, there is no mentorship topic or mentee_problem, so leave empty:
df_normal["topic_text"]        = ""

# ─── 3) LOAD THE JOBBERT MODEL ─────────────────────────────────────────────────
model = SentenceTransformer("TechWolf/JobBERT-v2")

# 3a) Verify that calling encode on an empty string returns a 768‐dim vector
_zero_vec = model.encode("", convert_to_numpy=True)
assert len(_zero_vec) == 768

# ─── 4) GENERATE & STORE VECTORS IN THE DATAFRAME ──────────────────────────────
academic_vecs     = []
professional_vecs = []
topic_vecs        = []

for _, row in df_normal.iterrows():
    acad_emb = model.encode(row["academic_text"],     convert_to_numpy=True)
    prof_emb = model.encode(row["professional_text"], convert_to_numpy=True)
    top_emb  = model.encode(row["topic_text"],        convert_to_numpy=True)  # all zeros or encoding of ""

    academic_vecs.append(acad_emb)
    professional_vecs.append(prof_emb)
    topic_vecs.append(top_emb)

df_normal["academic_vec"]     = academic_vecs
df_normal["professional_vec"] = professional_vecs
df_normal["topic_vec"]        = topic_vecs

c:\Users\91951\Desktop\Hackathon-Almashines\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [47]:
df_normal.columns

Index(['first_name', 'last_name', 'Gender', 'degree', 'department',
       'specialization', 'skills', 'designation', 'company', 'industry',
       'institute', 'uid', 'Current Office', 'user_type', 'academic_text',
       'professional_text', 'topic_text', 'academic_vec', 'professional_vec',
       'topic_vec'],
      dtype='object')

In [53]:
df_normal['academic_text'][0]

'Bachelor of Technology Engineering - Technology Computer Science Engineering'

In [54]:

# Convert to JSON-serializable lists:
df_normal["academic_vec_list"]     = df_normal["academic_vec"].apply(lambda x: x.tolist())
df_normal["professional_vec_list"] = df_normal["professional_vec"].apply(lambda x: x.tolist())
df_normal["topic_vec_list"]        = df_normal["topic_vec"].apply(lambda x: x.tolist())

# ─── 5) CONNECT TO ELASTICSEARCH ───────────────────────────────────────────────
# ES_HOST   = "https://a7b16fc079fb47698fe7b89b50ff406b.us-east-1.aws.found.io:443"
# API_KEY   = "OTNhN0lKY0IxaWdKNjRyOXg4UUY6WVZKTW5aX3VuQVRtUEhrVDVNWWxMWWxMQQ=="
# INDEX     = "version-1"

ES_HOST = "https://a7b16fc079fb47698fe7b89b50ff406b.us-east-1.aws.found.io:443"
API_KEY = "OTNhN0lKY0IxaWdKNjRyOXg4UUY6WVZKTW5aX3VuQVRtUEhrVDVNWWxMQQ=="
INDEX = "version-1"

es = Elasticsearch(ES_HOST, api_key=API_KEY)

# ─── 6) VERIFY INDEX MAPPING ───────────────────────────────────────────────────
# (Ensure mapping already has these dense_vector fields: academic_vec, professional_vec, mentorship_topic_vec)
mapping = es.indices.get_mapping(index=INDEX)[INDEX]["mappings"]["properties"]
expected_vec_fields = ["academic_vec", "professional_vec", "mentorship_topic_vec"]
for vf in expected_vec_fields:
    if vf not in mapping or mapping[vf]["type"] != "dense_vector":
        raise RuntimeError(f"Index mapping missing or incorrect for field: {vf}")

# ─── 7) PREPARE BULK ACTIONS & INDEX ───────────────────────────────────────────
def generate_normaluser_actions(df, index_name):
    """
    Yields a dict per row in the format required by helpers.bulk(). Each document:
      - _index: index_name
      - _id:    uid
      - _source: all fields matching the ES mapping
    """
    for _, row in df.iterrows():
        yield {
            "_index": index_name,
            "_id":    row["uid"],
            "_source": {
                "uid":                  row["uid"],
                "first_name":           row["first_name"],
                "last_name":            row["last_name"],
                "degree":               row["degree"],
                "department":           row["department"],
                "specialization":       row["specialization"],
                "skills":               row["skills"],
                "designation":          row["designation"],
                "company":              row["company"],
                "industry":             row["industry"],
                "institute":            row["institute"],
                "user_type":            row["user_type"],   # "normal_user"
                "topic":                "",                  # leave blank or
                                                             # you could store row["topic_text"]
                # Dense vectors (as lists):
                "academic_vec":         row["academic_vec_list"],
                "professional_vec":     row["professional_vec_list"],
                "mentorship_topic_vec": row["topic_vec_list"]
            }
        }

# Execute the bulk indexing
helpers.bulk(es, generate_normaluser_actions(df_normal, INDEX))
es.indices.refresh(index=INDEX)

print(f"✅ Indexed {len(df_normal)} normal_user documents into '{INDEX}'")

✅ Indexed 50 normal_user documents into 'version-1'